@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');


head {
    width: max-content;
    max-width: max-content;
 
}

:root {
    --primeira-cor: #146071;
    --segunda-cor: #fff;
    --terceira-cor: #151515;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Anton', sans-serif;
    font-family: 'Bebas Neue', cursive;
}

body {
    width: 100%;
    background-color: var(--segunda-cor);
}

section {
    width: 100%;
    height: 100%;
}

/*INICIO CABEÇALHO*/


navbar {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    max-width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-left: 100%;
    max-height: 120px;
    position: fixed;
    background-color: var(--segunda-cor);
    z-index: 10;
    color: var(--primeira-cor);
}

.fa-phone::before{
    color: var(--primeira-cor);
}

.cabeçalho-link {
    display: flex;
    gap: 30px;
    font-size: 30px;
    color: var(--primeira-cor);
    padding-left: 2%;

}

.cabeçalho-link a{
    color: var(--primeira-cor);
}

#logo {
    scale: 45%;
    padding-left: 3500px;
    padding-bottom: 50px;
}

button {
    font-size: 50px;
    background: transparent;
    border: solid 1px;
    border-radius: 25px;
    width: 65%;
    justify-content: center;
    align-items: center;
    
    
}




/*FIM CABEÇALHO*/


/*INICIO HOME*/
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding-top: 100px;

}

.container-text {
    padding: 0 0 0 40px;
    font-size: large;
}

.text h3 {
    color: black;
    font-size: 50px;
}

.text h2 {
    color: black;
    font-size: 58px
}

.text h1 {
    color: black;
    font-size: 70px;
}

.text span {
    color: var(--primeira-cor);
}

.container-image {
    scale: 85%;
}

.btn {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    color: var(--terceira-cor);
    border: 1px solid var(--terceira-cor);
    border-radius: 50px;
    font-size: 35px;
    line-height: 35px;
    padding: 10px 20px;
    margin-top: 0;
    margin-left: 85px;
    gap: 25px;
}


.btn-container {
    border-color: var(--primeira-cor);
    width: 280px;
    background-color: transparent;
    color: var(--primeira-cor);
    padding: 5px 10px 5px 0;
    transition: all 400ms ease;
    position: relative;
    height: auto;

}

.btn-container i {
    color: black;
    width: 10%;
    height: fit-content;
}

/*FIM HOME*/

/*INICIO FORM*/

#btnCreate{
color: var(--primeira-cor);
padding-top: 10px;

}

input{
    font-size: 50px;
}

.table{
    border-color: var(--primeira-cor);
}
#table {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 0 0 0 40px;
    color: var(--primeira-cor);
    font-size: 50px;
}

#cliente{
font-size: larger;
position: relative;
color: var(--primeira-cor);
align-items: center;
padding-left: 40px;

}

#edit {
    display: flex;
    color: blueviolet;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 35px;
}

#remover {
    display: flex;
    color: red;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 35px;

}
/*FIM FORM*/



/* INICIO FOOTER*/

footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
   
    background-color: var(--primeira-cor);
    color: var(--segunda-cor);
    font-size: 20px;

}

footer a{
    text-align: center;
    color: var(--segunda-cor);
}

/* FIM FOOTER*/